<div id="<%= dom_id user %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= user.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Password digest:</strong>
    <%= user.password_digest %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Role:</strong>
    <%= user.role %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Login code:</strong>
    <%= user.login_code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Login code sent at:</strong>
    <%= user.login_code_sent_at %>
  </div>
</div>
